<!DOCTYPE html>
<html>

<head>
    <title>NLL Teams!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/lacrosse-icon.png" />
    <meta name="description" content="List of the teams of top league players" />
    <meta name="author" content="Sven Balint" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <div class="header">
        <img class="scaled-image scaled-image-fixed" src="images/lacrosse-icon.png" alt="lacrosse logo">
        <h1>Teams of top NLL players</h1>
        <form method="get" action="/datatable" class="main-button">
            <button type="submit" class="button">Baza podataka</button>
        </form>
    </div>

    <div>
        <!--<img src="images/subaru.jpg" alt="Subaruu brah stutu" style="display: block; margin-left: auto; margin-right: auto; width: 20%;">-->
        <div class = "podaci">U ovoj bazi podataka nalazi se popis timova s top igračima iz National Lacrosse Lige koja se se igra u SAD-u. U glavnoj tablici opisani su osnovni podaci timova za najbolje ocijenjene igrače u ligi prošle sezone</div>
        <div class = "podaci">Autor: Sven Balint</div>
        <div class = "podaci">Verzija 2.0</div>
        <div class = "podaci">Jezik: engleski (english)</div>
        <div class = "podaci">Atributi:<br> Glavna tablica: koji je igrač bio plasiran, ID tog reda, ime time, država i grad iz kojeg je tim, u kojem dijelu lige igra, godina osnovanja kluba, trener, plasman tima prošle sezone, 
                                       <br>rezultat prošle sezone (pobjede-porazi), dosadašnji najbolji plasman, broj titula 
                            <br>Tablica igrača: Id igrača - plasman igrača, ime i prezime, bodovi, bodovi po igri</div>
        <div class = "podaci">Datum objave 16.11.2021.</div>
        <div class = "podaci">Korištena baza podataka: PostgreSQL</div>
        <div class = "podaci">Način zapisa: UTF-8</div>
        <div class = "podaci">Izvori: 
            <a href ="https://www.nll.com/stats/all-player-stats/">https://www.nll.com/stats/all-player-stats/</a>
            <a href ="https://en.wikipedia.org/wiki/National_Lacrosse_League">https://en.wikipedia.org/wiki/National_Lacrosse_League</a>
        </div>
        <div class = "podaci">
            <a href ="https://github.com/SBalint959/Lacrosse-Teams-database">https://github.com/SBalint959/Lacrosse-Teams-database</a>
        </div>
    </div>
    <div class="footer">
        <p style="font-family: Arial, Helvetica, sans-serif;">Creative Commons BY-SA</p>
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;">National Lacrosse League</p>
    </div>
    

    
</body>

</html>