<!DOCTYPE html>
<html>

<head>
    <title>NLL Teams!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/lacrosse-icon.png" />
    <meta name="description" content="List of the teams of top league players" />
    <meta name="author" content="Sven Balint" />
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
   <div class="header">
      <img class="scaled-image scaled-image-fixed" src="images/lacrosse-icon.png" alt="lacrosse logo">
      <h1>User Profile</h1>
      <form method="get" action="/" class="main-button">
         <button type="submit" class="button">Home</button>
      </form>
      <h2></h2>
      <form method="get" action="/datatable" class="main-button">
         <button type="submit" class="button">Baza podataka</button>
      </form>
      <h2></h2>
      <form method="get" action="/update" class="main-button">
         <button type="submit" class="button">Osvjezivanje podataka</button>
      </form>
      <h2></h2>
      <div class="profile-display">
         <ul>
             <li>Name: <%= data.nickname %></li>
             <li>E-mail: <%= data.email %></li>
         </ul>
     </div>
   </div>
</body>
</html>
